- name: Install dokku
  hosts: dokku
  become: yes
  pre_tasks:
  - name: Update repositories cache
    apt:
      update_cache: yes
  roles: 
    - dokku_bot.ansible_dokku
  vars:
    dokku_version: 0.21.4
    dokku_vhost_enable: "false"
    dokku_users:
      - name: Mateus Muller
        username: mateus
        ssh_key: "{{ lookup('file', '../deploy_keys/id_rsa.pub') }}"
  tasks:
    - name: Create udemy bot job
      dokku_app:
        app: udemy-bot
        
    - name: Manage environment variables
      dokku_config:
        app: udemy-bot
        config:
          DOKKU_DISABLE_APP_AUTOCREATION: "true" 
          DOKKU_SKIP_DEPLOY: "true"
    
    - name: Manage docker build option to add discord webhook
      dokku_docker_options:
        app: udemy-bot
        option: "--build-arg DISCORD_WEBHOOK_URL={{ lookup('env', 'DISCORD_WEBHOOK_URL') }}"
        phase: build
    
    - name: Manage docker build option to add discord webhook
      dokku_docker_options:
        app: udemy-bot
        option: "--build-arg UDEMY_API_KEY={{ lookup('env', 'UDEMY_API_KEY') }}"
        phase: build

    - name: Adding volume binding
      dokku_docker_options:
        app: udemy-bot
        option: "-v /home/dokku/udemy-bot/volume:/app/db"
        phase: run

    - name: Create a directory if it does not exist for volume
      file:
        path: /home/dokku/udemy-bot/volume
        state: directory
        mode: '0755'
        owner: dokku
        group: dokku

    - name: Disable domains
      shell:
        cmd: dokku domains:disable udemy-bot

    - name: Disable the default proxy
      dokku_proxy:
        app: udemy-bot
        state: absent

    - name: Disable healtcheck
      shell:
        cmd: dokku checks:disable udemy-bot

    - name: Set timezone to Sao Paulo
      timezone:
        name: America/Sao_Paulo

    - name: Schedule execution on cron
      cron:
        name: Grab Udemy data
        hour: "21"
        job: dokku run udemy-bot
        user: dokku
        