name: Python package

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest moto boto3
    - name: Test with pytest
      run: |
        pytest

  build_and_push:
    name: Push Docker image to ECR
    runs-on: ubuntu-latest
    outputs:
      image_uri: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: sa-east-1
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: udemy-mateusmuller-ecr
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build --build-arg=DISCORD_WEBHOOK_URL=${{ secrets.DISCORD_WEBHOOK_URL }} --build-arg=UDEMY_API_KEY=${{ secrets.UDEMY_API_KEY }} -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
  
  deploy:
    name: Deploy to AWS Lambda function
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: sa-east-1
    - name: Update Lambda function code
      env:
        FUNCTION_NAME: udemy-mateusmuller-function
      run: |
        aws lambda update-function-code --function-name $FUNCTION_NAME --image-uri ${{ needs.build_and_push.outputs.image_uri }}